canvas {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 500px;
    gap: 1rem;
}

.filters-panel {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    margin-bottom: 8px;
}

.filter label {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.filter input[type="range"] {
    flex: 1;
}

.modal {
    transform: none !important;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1920px;
}

.post-card {
    height: 100%;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.post-image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 65 / 100;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.post-tile {
    grid-column: span 1;
    grid-row: span 1;
}

.post-tile.wide {
    grid-column: span 2;
}

.post-tile.tall {
    grid-row: span 2;
}

.post-image {
    height: 100%;
}

.select2-container {
    z-index: 9990 !important;
    width: 100% !important;
}

.select2-dropdown {
    z-index: 99990 !important;
}

.offcanvas-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 99999 !important;
}


.offcanvas-backdrop{
    z-index: 99998 !important;
}

.canvas-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.offcanvas,
.offcanvas-xxl,
.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
    --bs-offcanvas-zindex: 99999 !important;
    --bs-offcanvas-width: 300px;
    --bs-offcanvas-height: 80vh !important;
}

.modal-dialog-scrollable .modal-content {
    overflow-y: auto;
}